<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/auth.css">
   <title>Login</title>
</head>
<body>
   <div class="main-card">
      <a href="App/views/landing-page.html" class="nav-bar">
         <img src="Resources/images/icons/left-arrow.png" alt="" class="nav-icon">
         <span>Log In</span>
      </a>
      <div class="button-box">
         <button class="switch on">LOGIN</button>
         <button class="switch"><a href="App/views/auth/sign-up.html">SIGN UP</a></button>
      </div>
      <form action="App/views/main/frame.html">
         <img src="Resources/images/icons/user.svg" alt="" class="profile-pic">

         <label for="email">E-mail</label>
         <input type="email" name="email" id="email" required>

         <label for="password">Password</label>
         <input type="password" name="passowrd" id="password" required>

         <button type="submit" class="login">LOGIN</button>
      </form>
   </div>
</body>
</html>
