body {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   overflow-y: auto;
   background-color: #ddd;
   gap: 5px;
}
section, form {
   width: 100%;
   height: fit-content;
   flex-basis: content;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
   padding: 20px 0;
   background-color: white;
}

.profile-picture {
   width: 90px;
   align-self: center;
   margin:10px;
}
.group-info {
   align-self: center;
   text-align: center;
   font-size: 13px;
   color: #888;
}
.group-name {
   padding: 5px 10px;
   align-self: center;
   border-radius: 50px;
   color: #4b3a4d;
   font-size: 20px;
   font-weight: border;
   text-transform: uppercase;
}
.hidden-input {
   display: none;
}
.pro-pic-label {
   padding: 5px 10px;
   border-radius: 50px;
   background-color: #89428E;
   color: white;
   font-weight: border;
   text-transform: uppercase;
}
.field-container {
   width: 100%;
   display: flex;
   align-items: flex-start;
   gap: 20px;
   padding:5px 50px 5px 30px;
}
.field-icon {
   width: 40px;
}
.off {
   opacity: 0;
}
.field-input-container {
   flex-basis: content;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   min-height: 100%;
   gap: 0px;
}
.section-title{
   margin: 10px 30px;
   align-self: flex-start;
   font-size: 18px;
   color: #89428E;
   font-weight:bolder;
}
.field-container span{
   font-size: 18px;
}
.field-container-input {
   width: 100%;
   padding: 2px 0;
   border: none;
   border-bottom: solid 2px #fff;
   background-color: transparent;
   font-size: 18px;
   color: #888;
   transition: 0.2s;
}
.field-container-input:focus{
   border-bottom: solid 2px #89428E;
   color: #222;
}
.save-changes {
   padding: 5px 10px;
   margin-block-end: 10px;
   border-radius: 50px;
   background-color: #dfccf7;
   color: #89428E;
   font-weight: bolder;
   font-size: 18px;
   text-transform: uppercase;
   border: none;
}
.option-box {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 20px;
   padding:5px 50px 5px 30px;
}
section > span {
   margin: 10px 30px;
   font-size: 18px;
   color: #89428E;
   font-weight:bolder;
}
.option-box > img {
   width: 40px;
}