* {
   font-family: corbel;
}
body {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   background-color: #ddd;
   gap: 5px;
}
.profile-picture {
   width: 90px;
   align-self: center;
   margin:10px;
}
.hidden-input {
   display: none;
}
.pro-pic-label {
   padding: 5px 10px;
   border-radius: 50px;
   background-color: #89428E;
   color: white;
   font-weight: border;
   text-transform: uppercase;
}
.setting-list-container {
   width: 100%;
   flex-basis: content;
   flex-shrink: 1;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 10px 0;
   background-color: white;
}
.profileBanner {
   align-items: center;
   justify-content: center;
}
.setting-box {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 5px 50px;
   cursor: pointer;
}
.setting-icon {
   height: 25px;
}
.setting-box>span {
   color: #777;
   text-transform: uppercase;
}