<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
    <base href="../../../../Ip Project/">
    <style>
    </style>
</head>
<body>
    <font face="corbel">
        <!--header bar-->
        <table height="50px" bgcolor="#E1DAEE" width="100%" cellpadding="10">
            <tr>
                <td align="center" width="60px"><a href="App/views/App/views/landing-page.html"><img src="Resources/images/left-arrow.png" alt="" width="50px"></a></td>
                <td colspan="3"><font color="#5D428E" size="5"><b>LOGIN</b></font></td>
            </tr>
        </table>
        <!--a simple navigation bar-->
        <table width="30%" border="0" align="center">
            <tr align="center" height="60px">
                <td width="50%"><b><font size="5">LOGIN</font></b></td>
                <td bgcolor="#5D428E"><a href="App/views/auth/create-account.html"><font size="5" color="#E1DAEE"><b>SIGN UP</b></font></a></td>
            </tr>
        </table>
        <!--login form-->
        <table cellpadding="6"align="center" width="24%" bgcolor="#fff">
            <form action="App/views/main/home.html">
                <tr><td colspan="2"><font size="5"><b>Fill the following form</b></font><hr></td></tr>
                <tr>
                    <td width="30%" align="right">
                        <label for="email"><b>E-mail:</b></label>
                    </td>
                    <td>
                        <input type="text" name="email" id="email" size="30" required>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="password"><b>Password:</b></label>
                    </td>
                    <td>
                        <input type="password" name="password" id="password"  size="30" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="image" src="Resources/images/login.png" alt="" formaction="App/views/main/home.html">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><font color='red'>forgot password?</font></td>
                </tr>
            </form>
        </table>
        <hr>
        <table align="center" width="60%" bgcolor="#eee">
            <!--footer message-->
            <tr align="center" height="50px">
                <td>
                    <p>Coming soon on google play...</p>
                </td>
            </tr>
        </table>
    </font>
</body>
</html>