<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <base href="../../../../Ip Project/">
</head>
<body>
    
    <!--header-->
    <table width="100%" bgcolor="#5D428E" cellpadding="10">
        <tr>
            <td align="center" width="60px">
                <a href="App/views/main/home.html"><img src="Resources/images/home.png" align="middle" width="50px"></a>
            </td>
            <td><font color="white" width="fit-content" face="monospace" size="5"><b>AASTUGRAM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></font></td>

            <td width="" align="center" width="70%">
                <input type="search" placeholder="search" size="40">
                <button>search</button>
            </td>
            <td align="right">
                <font color="white" face="monospace" size="5"><b>Abel Girma</b></font>
            </td>
            <td align="center" width="60px">
                <img src="Resources/images/profile.svg" width="50px" align="middle" >
            </td>
            <td width="60px" align="center">
                <a href="App/views/setting/profile-settings.html">
                    <img src="Resources/images/menu-white.png"  width="50px" alt="">
                </a>
            </td>
        </tr>
    </table>

    <!--nav bar-->
    <table width="100%" height="30px" bgcolor="#E1DAEE">
        <tr>
            <td width=30%></td>
            <td width="10%" align="center"><a href="App/views/main/home.html"><font face="corbel" color="#5D428E">HOME</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/news-feed.html"><font face="corbel" color="#5D428E">NEWS FEED</font></a></td>
            <td width="10%" align="center" bgcolor="#AE9BD1"><a href="App/views/main/explore.html"><font face="corbel" color="#5D428E">EXPLORE</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/groups.html"><font face="corbel" color="#5D428E">GROUPS</font></a></td>
            <td width=30%></td>
        </tr>
    </table>

    <!--main portion-->
    <table width="75%" align="center" bgcolor="">
        <tr>
            <td width="15px" rowspan="20"></td>
            <td colspan="4">
                <p><font size="5" face="verdana" color="#5D428E">EXPLORE YOUR CAMPUS</font></p><br>
            </td>
            <td width="15px" rowspan="20"></td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#academic">
                <img src="Resources/images/dictionary.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">ACADEMIC</font></p><br>
                <br>
                </a>
            </td>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#shopping">
                <img src="Resources/images/shopping-cart.png" alt="" height="100px">
                
                <p><font size="3" face="verdana" color="#5D428E">SHOPPING</font></p><br>
                <br>
                </a>
            </td>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#game">
                <img src="Resources/images/gaming-gamepad.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">FUN AND GAME</font></p><br>
                <br>
                </a>
            </td>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#arts">
                <img src="Resources/images/paint.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">ARTS AND LITERATUE</font></p><br>
                <br>
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#sitech">
                <img src="Resources/images/tech.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">SCINCE AND TECH</font></p><br>
                <br>
                </a>
            </td>
            
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#sport">
                <img src="Resources/images/ball-basketball.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">SPORT</font></p><br>
                <br>
                </a>        
            </td>
            
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#religious">
                <img src="Resources/images/pray-welcome.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">RELIGIOUS</font></p><br>
                <br>
                </a>
            </td>
            <td align="center" width="23%">
                <a href="App/views/main/explore.html#food">
                <img src="Resources/images/food-and-drink.png" alt="" height="100px">
                <p><font size="3" face="verdana" color="#5D428E">FOOD AND DRINKS</font></p><br>
                <br>
                </a>
            </td>
        </tr>
    </table>
    <table width="60%" align="center">
        <tr height="100px" id="academic">
            <td rowspan="100" width="20px"></td>
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">ACADEMIC</font></td>
            <td rowspan="100" width="20px"></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">Software Engineering materials and resources</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU programming tutor</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="shopping">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">SHOPPING</font></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU brand shoes</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU online shopping</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="game">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">FUN AND GAME</font></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU memes</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">Mini militia gaming club AASTU</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="sitech">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">SCINCE AND TECH</font></td>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">ab robotics/font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU since and technology club</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="sport">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">SPORT</font></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU fitness group</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">GC students football team</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="religious">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">RELIGIOUS</font></td>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU online shopping</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">AASTU online shopping</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
        <tr height="100px" id="food">
            <td colspan="3"><font face="verdana" size="5" color="#4C405E">FOOD AND DRINKS</font></td>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">Kibnesh Lounge</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        </tr>
        <tr>
            <td rowspan="2" align="center" width="65px">
                <img src="Resources/images/group-icon.png" alt="" align="middle" width="50px">
            </td>
            <td>
                <font face="verdana" size="4" color="#5D428E">KK lounge and delivery</font>
            </td>
            <td rowspan="2" width="fit-content" align="right" border="1px">
                <font face="verdana" size="5" color="#5D428E">JOIN GROUP</font>
            </td>
        </tr>
        <tr>
            <td><font face="verdana" size="2" color="#AE9BD1">400 members</font></td>
        </tr>
        <tr><td colspan="3"><br></td></tr>
        <tr>
            <td></td>
            <td colspan="">
                <font face="verdana" size="4" color="#555" >SEE MORE</font>
            </td>
        </tr>
    </table>
    <center>
        <a href="App/views/main/explore.html#">
            <font face="verdana" size="5" color="black">Back to Top</font>
            <img src="/Resources/images/up-arrow.svg" alt="" width="50px">
        </a>
    </center>
</body>
</html>