<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <base href="../../../../Ip Project/">
</head>
<body>
    
    <!--header-->
    <table width="100%" bgcolor="#5D428E" cellpadding="10">
        <tr>
            <td align="center" width="60px">
                <a href="App/views/main/home.html"><img src="Resources/images/home.png" align="middle" width="50px"></a>
            </td>
            <td><font color="white" width="fit-content" face="monospace" size="5"><b>AASTUGRAM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></font></td>

            <td width="" align="center" width="70%">
                <input type="search" placeholder="search" size="40">
                <button>search</button>
            </td>
            <td align="right">
                <font color="white" face="monospace" size="5"><b>Abel Girma</b></font>
            </td>
            <td align="center" width="60px">
                <img src="Resources/images/profile.svg" width="50px" align="middle" >
            </td>
            <td width="60px" align="center">
                <a href="App/views/setting/profile-settings.html">
                    <img src="Resources/images/menu-white.png"  width="50px" alt="">
                </a>
            </td>
        </tr>
    </table>

    <!--nav bar-->
    <table width="100%" height="30px" bgcolor="#E1DAEE">
        <tr>
            <td width=30%></td>
            <td width="10%" align="center"><a href="App/views/main/home.html"><font face="corbel" color="#5D428E">HOME</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/news-feed.html"><font face="corbel" color="#5D428E">NEWS FEED</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/explore.html"><font face="corbel" color="#5D428E">EXPLORE</font></a></td>
            <td width="10%" align="center" bgcolor="#AE9BD1"><a href="App/views/main/groups.html"><font face="corbel" color="#5D428E">GROUPS</font></a></td>
            <td width=30%></td>
        </tr>
    </table>


    <!--main portion-->
    <table width="75%" align="center"cellmargin="0">
        <tr height="70px">
            <td width="15px" rowspan="25"></td>
            <td colspan="4" bgcolor="#E1DAEE" align="center"><br><a href="App/views/main/create-community.html"><img src="Resources/images/create-goup.png" alt=""></a><br><br></td>
            <td width="15px" rowspan="25"></td>        
        </tr>
        <tr>
            <td colspan="4">
                <p><font size="5" face="verdana" color="#5D428E">GROUPS YOU CREATED</font></p><br>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <a href="App/views/main/my-group.html">
                <img src="Resources/images/my-group-icon.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">My Group</font></p></a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p><font size="5" face="verdana" color="#5D428E">GROUPS YOU JOINED</font></p><br>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <a href="App/views/main/group-home.html">
                <img src="Resources/images/mame-icon.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Mame tech</font></p></a>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Ab robotics</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Third year footbal group</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">AASTU gaming club</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Arts and music enthusiasts</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Sell and buy AASTU</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">AASTU BRAND SHOES</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/minimal-line-icons-ver2.2/SVGs/airplane.svg" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">TRAVEL WITH ME</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Section c third year</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Buy arduino equipments</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Referece books buy and sell</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/minimal-line-icons-ver2.2/SVGs/airplane.svg" alt="" height="100px">
                <p><font size="2" face="verdana" color="#5D428E">Z-electronics</font></p>
                <font size="3" face="verdana" color="#8E4242"><b>LEAVE GROUP</b></font><br><br><br>
            </td>
        </tr>

    </table>
</body>
</html>