<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group page</title>
    <meta name="author" description="M4N">
    <base href="../../../../Ip Project/">
</head>
<body>

    <!--header-->
    <table width="100%" bgcolor="#5D428E" cellpadding="10">

        <tr>
            <td align="center" width="60px">
                <a href="App/views/main/groups.html"><img src="Resources/images/left-arrow-white.png" align="middle" width="50px"></a>
            </td>
            <td align="center" width="60px">
                <img src="Resources/images/mame-icon.png" width="50px" align="middle" >
            </td>
            <td><font color="white" width="fit-content" face="monospace" size="5"><b>MAME TECH</b></font></td>

            <td width="40%" align="center">
                <input type="search" placeholder="search" size="40">
                <button align="left">search</button>
            </td>

            <td align="right" width="30%" valign="center">
                <a href="App/views/setting/group-settings.html">
                    <img src="Resources/images/menu-white.png"  width="50px" alt="">
                </a>
            </td>
        </tr>

    </table>

    <!--main content-->
    <table width="100%" bgcolor="">
        <tr>
            <!--an empty side nav bar-->
            <td width=25%></td>
            <!--main post pane-->
            <td width="" align="center" height="fit-content" bgcolor="#eee" rowspan="2">
                <br>
                <!--a single post is contained in a table element-->
                <table width="90%" bgcolor="#fff">

                    <!--an empty row of 10px height for top paddign purpose-->
                    <tr height='10px'></tr>

                    <tr>
                        <td width="10px" rowspan="4"></td>
                        <td><font face="verdana" size="1" color="#666">11:32am | Monday jan 23</font></td>
                        <td></td>
\                       <td></td>
                        <td width="10px" rowspan="4"></td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <p>
                                <font face="verdana">
                                    ለ ዋይፋይ ፓስወርድ ፈላጊዎች በሙሉ!! እንኳን ደስ አላችሁ በቀላሉ ዋይ ፋይ ፓስወርድ የምናገኝበት 
                                    አፕ ተገኘ በሁሉም ስልክ ላይ የሚሰራ።
                                </font>
                            </p>
                            <img src="Resources/images/wifi.jpg" alt="" width="100%">
                            <p>
                                <font face="verdana">
                                    አሁኑኑ ቻናላችንን ተቀልቅለው ዋይ ፋይ በነጻ ይጠቀሙ!!
                                </font>
                            </p>
                            <hr>
                        </td>
                    </tr>


                    <tr>
                        <td align="right" width="90%" colspan="2">
                            <a href="App/views/comment/group-comment.html"><input type="button" value="comment" size="30"></a></td>
                        <td>
                            <!--img width="25px" src="Resources/images/default.png" alt="like" align="middle"-->
                            <button >Like</button>
                        </td>
                    </tr>

                    <!--again an empty row of 10px for padding bottom-->
                    <tr height='10px'></tr>
                </table>
                <br>
 
                <!--a single post is contained in a table element-->
                <table width="90%" bgcolor="#fff">

                    <!--an empty row of 10px height for top paddign purpose-->
                    <tr height='10px'></tr>

                    <tr>
                        <td width="10px" rowspan="4"></td>
                        <td><font face="verdana" size="1" color="#666">11:32am | Monday jan 23</font></td>
                        <td></td>
                        <td></td>
                        <td width="10px" rowspan="4"></td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <p>
                                <font face="verdana">
                                    How to solve conncected but no internet problem in windows10.
                                </font>
                            </p>
                            <video src="Resources/video/video1.mp4" width="100%" controls ></video>
                            <hr>
                        </td>
                    </tr>


                    <tr>
                        <td align="right" width="90%" colspan="2">
                            <input type="button" value="comment" size="30" disabled>
                        </td>
                        <td>
                            <!--img width="25px" src="Resources/images/default.png" alt="like" align="middle"-->
                            <button >Like</button>
                        </td>
                    </tr>

                    <!--again an empty row of 10px for padding bottom-->
                    <tr height='10px'></tr>
                </table>
                <br>
            </td>

            <!--side bar navigation-->
            <td bgcolor="" width="25%"><font face="corbel">
            </td>
        </tr>
    </table>
</body>
</html>