<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <base href="../../../../Ip Project/">
    <style></style>
</head>
<body>
    
    <!--header-->
    <table width="100%" bgcolor="#5D428E" cellpadding="10">
        <tr>
            <td align="center" width="60px">
                <a href="App/views/main/home.html"><img src="Resources/images/home.png" align="middle" width="50px"></a>
            </td>
            <td><font color="white" width="fit-content" face="monospace" size="5"><b>AASTUGRAM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></font></td>

            <td width="" align="center" width="70%">
                <input type="search" placeholder="search" size="40">
                <button>search</button>
            </td>
            <td align="right">
                <font color="white" face="monospace" size="5"><b>Abel Girma</b></font>
            </td>
            <td align="center" width="60px">
                <img src="Resources/images/profile.svg" width="50px" align="middle" >
            </td>
            <td width="60px" align="center">
                <a href="App/views/setting/profile-settings.html">
                    <img src="Resources/images/menu-white.png"  width="50px" alt="">
                </a>
            </td>
        </tr>
    </table>
    <!--nav bar-->
    <table width="100%" height="30px" bgcolor="#E1DAEE">
        <tr>
            <td width=30%></td>
            <td width="10%" align="center" bgcolor="#AE9BD1"><a href="App/views/main/home.html"><font face="corbel" color="#5D428E">HOME</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/news-feed.html"><font face="corbel" color="#5D428E">NEWS FEED</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/explore.html"><font face="corbel" color="#5D428E">EXPLORE</font></a></td>
            <td width="10%" align="center"><a href="App/views/main/groups.html"><font face="corbel" color="#5D428E">GROUPS</font></a></td>
            <td width=30%></td>
        </tr>
    </table>


    <!--main portion-->
    <table width="75%" align="center">
        <tr>
            <td width="15px" rowspan="20"></td>
            <td colspan="4">
                <p><font size="5" face="sans-serif" color="#5D428E">FEATURED NEWS</font></p><br>
            </td>
            <td width="15px" rowspan="20"></td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <a href="App/views/main/news-feed.html#software-department">
                <img src="Resources/images/software-dept.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">A new message from Software Engineering department</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>READ MORE</b></font><br><br><br>
                </a>
            </td>
            <td align="center" width="23%">
                <a href="App/views/main/news-feed.html#sudent-union">
                <img src="Resources/images/student-union.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">A new message from AASTU student union office</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>READ MORE</b></font><br><br><br>
                </a>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">A new video from Software AASTU womans club</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>READ MORE</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">An update note from developers</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>READ MORE</b></font><br><br><br>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p><font size="5" face="sans-serif" color="#5D428E">FEATURED GROUPS</font></p><br>
            </td>
        </tr>
        <tr>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">AASTU anti corruption club</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>JOIN</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">AASTU charity club</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>JOIN</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">AASTU online shopping</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>JOIN</b></font><br><br><br>
            </td>
            <td align="center" width="23%">
                <img src="Resources/images/default.png" alt="" width="120px">
                <p><font size="3" face="sans-serif" color="#5D428E">Study for tommorow</font></p>
                <font size="3" face="sans-serif" color="#5D428E"><b>JOIN</b></font><br><br><br>
            </td>
        </tr>
        <tr>
            <td align="center" valign="center" colspan="4">
                <a href="App/views/main/create-community.html"><img src="Resources/images/create-goup.png" alt=""></a>
            </td>
        </tr>
    </table>
</body>
</html>