<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>group-settings</title>
    <base href="../../../../Ip Project/">
</head>
<body>
    <font face="corbel">
        <table width="100%" align="center" bgcolor="#5D428E" cellpadding="5">
            <tr height="10px">
                <td width="10px" rowspan="4"></td>
                <td colspan="5"></td>
                <td width="10px" rowspan="4"></td>
            </tr>
            <tr>
                <td width="20%" bgcolor="#E1DAEE" rowspan="1" align="center" valign="center">
                    <label for="profile-picture"><img src="Resources/images/profile.svg" width="90%"></label>
                </td>
                <td align="left" valign="top">
                    <font face="corbel" size="6" align="left" color="white"><b>Mame tech</b></font><br>
                    <font face="verdana" size="2" color="#E1DAEE">4500 members<br>created 3 years ago <br>by Mohammed</font>
                </td>
                <td rowspan="" valign="top" align="right">
                    <a href="App/views/main/groups.html "><img src="Resources/images/leave-group.png" alt=""></a>
                </td>
            </tr>
            <tr height="10px"></tr>
        </table>

        <!--include the form in a table in order to align it in the center the big box-->
        <table cellpadding="6" align="center" width="30%">
            <form action="#">
                <tr>
                    <td colspan="2"><font size="5" ><b>Report this group</b></font><hr></td>
                </tr>
                <tr>
                    <td line-height="1.25">
                        <b>Your reason?</b><br><ul>
                        <input type="radio" name="delete-account" id="hacked">
                        <label for="fake">Fake Account</label><br>
                        <input type="radio" name="delete-account" id="hard-to-use">
                        <label for="porn">Pornograohy</label><br>
                        <input type="radio" name="delete-account" id="not-useful">
                        <label for="Drug">Drug Abuse</label><br>
                        <input type="radio" name="delete-account" id="other">
                        <label for="racizm">Racism and Hate Speech</label><br>
                        <input type="radio" name="delete-account" id="other">
                        <label for="other">Other? Please Explain:</label><br>
                        <textarea name="other" cols="30" rows="3"></textarea>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#333" align="center">
                        <a href="App/views/main/home.html">
                            <font size="5" color="red">
                                <b>Report and Leave Group</b></a>
                            </font>
                        </a>
                    </td>
                </tr>
            </form>
        </table>
    </font>
</body>
</html>