<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Group - 7">
    <base href="../../../Ip Project Phase-3/">
    <link rel="stylesheet" href="Resources/css/base.css">
    <link rel="stylesheet" href="Resources/css/landing-page.css">
    <title>AASTUGRAM</title>
</head>
<body>
    <section class="upper-part">
       <nav class="top-nav">
          <div class="icon-box">
             <img src="Resources/images/icon.png" class="app-icon" style="border-radius: 0;">
             <span class="app-name">AASTUGRAM</span>
          </div>
          <a href="App/views/auth/sign-up.html">Sign Up</a>
          <a href="App/views/auth/Login.html">Login</a>
         </nav>
       <div class="banner">
          <p class="app-moto">A place where your dream campus connections come real:)</p>
          <a href="App/views/auth/sign-up.html">GET STARTED</a>
       </div>
    </section>
    <section class="middle-part">
       
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 8.svg" alt="">
         <p>Enlighten yourself to new prospects</p>
      </div>
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 12.svg" alt="">
         <p>Ask your mates</p>
      </div>
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 15.svg" alt="">
         <p>Heighten Your Reaches</p>
      </div>
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 16.svg" alt="">
         <p>Grow Your Ideas</p>
      </div>
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 14.svg" alt="">
         <p>All in one access</p>
      </div>
      <div class="grid-item">
         <img src="Resources/images/illustrations/Artboard 13.svg" alt="">
         <p>Discover ideas you never knew before</p>
      </div>

    </section>
    <section class="lower-part">
       <h1>About Us</h1>
       <p>We are a team striving to give you a better campus experience</p>
       <p>We build and provide prestigious services in areas of web development.</p>
    </section>
    <footer>
       <p>©All rights reserved M4N</p>
    </footer>
   </body>
</html>
