<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <base href="../../../Ip Project/">
    <style>
        td {
            border: solid 0px;
        }
    </style>
</head>
<body>

    <table width="100%" align="center" bgcolor="#5D428E">
        <tr height="70px">
            <td align="middle" width="fit-content"><img src="Resources/images/icon.png" width="60px"></td>
            <td colspan="4S" width="70%"><b><font face="monospace" size="6" color="#E1DAEE">AASTUGRAM</font></b></td>
            <td align="center" width="fit-content"><a href="App/views/auth/create-account.html"><img src="Resources/images/big-sign-up.png" ></a></td>
            <td align="center" width="fit-content"><a href="App/views/auth/log-in.html"><img src="Resources/images/big-login.png" alt=""></a></td>
        </tr>
    </table>

    <table width="100%" align="center" bgcolor="#5D428E">
        <tr color="white">
            <td></td>
            <td width="60%" align="center" height="250px">
                <p color="#fff">
                    <font face="verdana" size="6" color="white">A PLACE WHERE YOUR DREAM CAMPUS CONNECTIONS COME REAL:)</font>
                </p>
                <a href="App/views/auth/log-in.html"><img align="middle" src="Resources/images/get-started.png" ></a>
            </td>
            <td></td>
        </tr>
    </table>

    <table width="100%" align="center" bgcolor="#eee" cellpadding="10">
        <tr>
            <td width="">
                <center>
                    <img height="200px" src="Resources/images/Artboard 8.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Enlighten yourself to all new prospects</font></p>
                </center>
            </td>
            <td width="">
                <center>
                    <img height="200px" src="Resources/images/Artboard 12.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Ask your mates</font></p>
                </center>
            </td>
            <td width="">
                <center>
                    <img height="200px" src="Resources/images/Artboard 15.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Heighten your reaches</font></p>
                </center>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <center>
                    <img height="200px" src="Resources/images/Artboard 16.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Grow your ideas</font></p>
                </center>
            </td>
            <td width="25%">
                <center>
                    <img height="200px" src="Resources/images/Artboard 14.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Get all in one access</font></p>
                </center>
            </td>
            <td width="25%">
                <center>
                    <img height="200px" src="Resources/images/Artboard 13.svg" width="40%" alt="">
                    <p><font face="corbel" size="3" color="#067DC6">Discover things you did't know before</font></p>
                </center>
            </td>
        </tr>
    </table>
    <table width="100%" align="center" bgcolor="#5D428E">
        <tr align="center">
            <td colspan="3">
                <P><font face="verdana" color="#E1DAEE" size='5'>ABOUT US</font></P>
                <p><font color="#FFF" face="verdana">
                    We are a team striving to give you a better campus experience.
                </font></p>
                <p><font color="#FFF" face="verdana">
                    We build and provide prestigious services in areas of web development
                </font></p>
            </td>
        </tr>
    </table>
    <table width="100%" bgcolor="#E1DAEE" align="center">
        <tr>
            <td colspan="3" align="center">
                    <font face="arial" color="#5D428E"><p>&copy;All rights reserved M4N</p></font>
            </td>
        </tr>
    </table>
</body>
</html>