<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/explore.css">
   <title>Explore</title>
</head>
<body>
   <h1 class="section-label" id="top">Explore Your Campus</h1>
   <div class="main-wrapper-top">   

      <a href="App/views/main/explore.html#academic" class="group-category-box">
         <img src="Resources/images/dictionary.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Academic</h2>
            <p class="stat">20 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#shopping" class="group-category-box">
         <img src="Resources/images/shopping.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Shopping</h2>
            <p class="stat">18 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#game" class="group-category-box">
         <img src="Resources/images/game.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Fun and Game</h2>
            <p class="stat">10 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#arts" class="group-category-box">
         <img src="Resources/images/paint.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Arts and Literature</h2>
            <p class="stat">7 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#science" class="group-category-box">
         <img src="Resources/images/tech.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Science and Technology</h2>
            <p class="stat">12 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#sport" class="group-category-box">
         <img src="Resources/images/ball.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Sport</h2>
            <p class="stat">25 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#religious" class="group-category-box">
         <img src="Resources/images/prayer.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Religious</h2>
            <p class="stat">3 groups</p>
         </div>
      </a>
      <a href="App/views/main/explore.html#food" class="group-category-box">
         <img src="Resources/images/food.png" class="category-icon">
         <div class="category-info">
            <h2 class="category-name">Food and Drinks</h2>
            <p class="stat">6 groups</p>
         </div>
      </a>
   </div>

   <h2 class="category-list-label" id="academic">Academic</h2>
   
   <div class="main-wrapper">   
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">sofrware engineering materials and resources</h3>
            <span>public group | 202 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">AAStu programming tutor</h3>
            <span>public group | 190 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="shopping">Shopping</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu brand shoes</h3>
            <span>public group | 520 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu online shopping</h3>
            <span>public group | 902 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="game">fun and game</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu memes</h3>
            <span>public group | 302 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">mini militia gaming club</h3>
            <span>public group | 54 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="arts">arts and literature</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu brana entertainment</h3>
            <span>public group | 500 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">sketch enthusiasts at aastu</h3>
            <span>public group | 32 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="science">science and tech</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">ab robotics</h3>
            <span>public group | 92 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">Science and technology club</h3>
            <span>public group | 121 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="sport">sport</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">astu fitness group</h3>
            <span>public group | 102 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">GC 2014 students football team</h3>
            <span>public group | 88 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="religious">religious</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu ecsf</h3>
            <span>public group | 600 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">orthodox aastu students</h3>
            <span>public group | 600 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">muslim aastu students</h3>
            <span>public group | 600 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <h2 class="category-list-label" id="food">food and drinks</h2>
   <div class="main-wrapper">
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">Kibesh lounge</h3>
            <span>public group | 340 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">A+ Lounge</h3>
            <span>public group | 164 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>
   <div class="action-button"><a href="App/views/main/explore.html#top">TOP</a></div>
</body>
</html>
      
