<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Group - 7">
    <base href="../../../../Ip Project Phase-2/">
    <link rel="shortcut icon" href="Resources/images/icons/app-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="Resources/css/base.css">
    <link rel="stylesheet" href="Resources/css/frame.css">
    <link rel="stylesheet" href="Resources/css/animations.css">
    <title id="pageTitle">Aastugram</title>
</head>
<body>

    <header id="header">
        <div class="app-icon-container">
            <img class="app-icon" src="Resources/images/icons/app-icon.svg" alt="">
            <span class="app-icon-label">aastugram</span>
        </div>

        <form action="search.php" class="search-form">
            <input class="search" type="text" placeholder="SEARCH" id="search">
            <input class="search-button" type="image" src="Resources/images/icons/search.svg">
        </form>

        <div class="profile-box">
            <span class="profile-label">Abel Girma</span>
            <img src="Resources/images/icons/user.svg" alt="profle" class="profile-icon">
            <img src="Resources/images/icons/settings.svg" id="menu" class="profile-icon">
        </div>
    </header>

    <main>
        <section class="home" id="home">
            <!--a header for the current group on the screen-->
            <div class="group-header" style="background-color: #5D428E;" id="groupHeader">
               
            </div>

            <iframe src="App/views/main/home.html" 
            id="homeIframe" class="home-iframe" 
            name="home-iframe" frameborder="0" 
            width="100%" height="100%"></iframe>
        
        </section>

        <nav id="nav">
            <a 
            class="nav-icon-container" href="App/views/main/home.html" target="home-iframe" 
            id="homeLink" onclick="showGroupHeader('flex')">
                <img src="Resources/images/icons/home.svg" alt="" class="nav-icon">
                <span class="nav-icon-label">Home</span>
            </a>    
            <a class="nav-icon-container" href="App/views/main/news-feed.html" target="home-iframe" id="newsFeedLink">
                <img src="Resources/images/icons/globe.svg" alt="" class="nav-icon">
                <span class="nav-icon-label">News&nbspFeed</span>
            </a>    
            <a class="nav-icon-container" href="App/views/main/explore.html" target="home-iframe" id="exploreLink">
                <img src="Resources/images/icons/compass.svg" alt="" class="nav-icon">
                <span class="nav-icon-label">Explore</span>
            </a>    
            <a class="nav-icon-container" href="App/views/main/groups.html" target="home-iframe" id="groupsLink">
                <img src="Resources/images/icons/team.svg" alt="" class="nav-icon">
                <span class="nav-icon-label">Groups</span>
            </a>    
            <a class="nav-icon-container" href="App/views/main/create-group.html" target="home-iframe" id="newGroupLink">
                <img src="Resources/images/icons/add-button.svg" alt="" class="nav-icon">
                <span class="nav-icon-label">Create&nbspnew&nbspgroup</span>
            </a>    
        </nav>    

        <section class="side-bar" id="sideBar">

            <div class="side-bar-header">
                <span class="page-title" id="sideBarTitle">Settings</span>
                <img src="Resources/images/icons/close.svg" class="close" id="closeSideBar">
            </div>
            <iframe src="App/views/setting/settings.html" class="side-bar-iframe" name="side-bar-content" frameborder="0"></iframe>

        </section>
    </main>
<script type="text/javascript">
const showGroupHeader = () => {
    document.getElementById("groupHeader").style.display = 'flex';
    document.getElementById("header").style.display = 'none';
}
const showHeader = () => {
    document.getElementById("header").style.display = 'flex';
    document.getElementById("groupHeader").style.display ='none';
}
const hideSideBar = () => {
    document.getElementById("sideBar").style.display = 'none';
}
const showSideBar = () => {
    document.getElementById("sideBar").style.display = "flex";
}
document.getElementById("homeLink").onclick = "showGroupHeader()";
document.getElementById("exploreLink").onclick = "showGroupHeader()";
document.getElementById("groupsLink").onclick = "showGroupHeader()";
document.getElementById("homeLink").onclick = "showGroupHeader()";
document.getElementById("exploreLink").onclick = "showGroupHeader()";
document.getElementById("groupsLink").onclick = "showGroupHeader()";
document.getElementById("closeSideBar").setAttribute("onclick", "hideSideBar()");
document.getElementById("menu").setAttribute("onclick", "showSideBar()");
document.getElementById("sideBar").setAttribute("onclick", "hideSideBar()");
</script>
</body>
</html>