<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/home.css">
   <title>Groups</title>
   <style>
    #mame {
      background-image:
      linear-gradient(#0008, #000b),
      url("../../Resources/images/mame-icon.png");
      background-size: 100% 100%,auto  100%;
   }

   </style>
</head>
<body>
   <h1 class="section-label">Groups you Created</h1>
   
   <div class="main-wrapper">
      <a href="App/views/main/my-group.html" class="group-preview-box">
         <img src="Resources/images/my-group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">My Group</h3>
            <span>public group | 32 members</span>
         </div>
         <button class="join-group">Edit</button>
      </a>
      <a href="" class="group-preview-box">
         <img src="Resources/images/icons/add-button.svg" alt="" class="group-icon" style="background: white;">
         <div class="group-info">
            <h3 class="group-name">create new group</h3>
         </div>
      </a>
   </div>   
   
   <h1 class="section-label">Groups You Joined</h1>

   <div class="main-wrapper">
      <a href="App/views/main/mame-tech.html" class="group-preview-box">
         <img src="Resources/images/mame-icon.png" class="group-icon" id="mame">
         <div class="group-info">
            <h3 class="group-name">mame tech</h3>
            <span>public group | 202 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </a>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">Ab Robotics</h3>
            <span>public group | 323 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">third year football club</h3>
            <span>public group | 54 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu gaming club</h3>
            <span>public group | 43 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">arts and music enthusiasts</h3>
            <span>public group | 98 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">sell adn buy aastu</h3>
            <span>public group | 632 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/group-icon.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu brand shoes</h3>
            <span>public group | 734 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>


   </div>
</body>
</html>