<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/home.css">
   <title>home</title>
</head>
<body>
   <h1 class="section-label">Featured News</h1>
   
   <div class="main-wrapper">
      <a href="App/views/main/news-feed.html#software-department" class="news-preview-box">
         <img src="Resources/images/software-dept.png" alt="" class="message-preview-icon">
         <div class="message-info">
            <h4 class="sender-name">AASTU Student Union</h4>
            <p class="message-description">A new message from software engineering department</p>
            <small class="date">11:54pm</small>
         </div>
      </a>
      <a href="App/views/main/news-feed.html#student-union" class="news-preview-box">
         <img src="Resources/images/student-union.png" alt="" class="message-preview-icon">
         <div class="message-info">
            <p class="message-description">A new message from AASTU student Union</p>
            <small class="date">11:54pm</small>
         </div>
      </a>
      <div href="" class="news-preview-box">
         <img src="Resources/images/default.png" alt="" class="message-preview-icon">
         <div class="message-info">
            <p class="message-description">2 new messages from Architecture department</p>
            <small class="date">11:54pm</small>
         </div>
      </div>
      <div href="" class="news-preview-box">
         <img src="Resources/images/default.png" alt="" class="message-preview-icon">
         <div class="message-info">
            <p class="message-description">An update info from aastugram developers</p>
            <small class="date">11:54pm</small>
         </div>
      </div>
      <div href="" class="news-preview-box">
         <img src="Resources/images/default.png" alt="" class="message-preview-icon">
         <div class="message-info">
            <p class="message-description">A new message from software engineering department</p>
            <small class="date">11:54pm</small>
         </div>
      </div>
   </div>
   
   <h1 class="section-label">Featured Groups</h1>
   
   <div class="main-wrapper">   
      <div class="group-preview-box">
         <img src="Resources/images/default.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu anti-corruption club</h3>
            <span>public group | 45 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/default.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu chrity club</h3>
            <span>public group | 300 members | 3 years ago</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/default.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">aastu online shopping</h3>
            <span>public group | 902 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/default.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">study for tommorow</h3>
            <span>public group | 432 members | 6 months a go</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
      <div class="group-preview-box">
         <img src="Resources/images/default.png" alt="" class="group-icon">
         <div class="group-info">
            <h3 class="group-name">mame tech</h3>
            <span>public group | 202 members</span>
         </div>
         <button class="join-group">JOIN</button>
      </div>
   </div>

</body>
</html>