<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/my-group.css">
   <title>My Group</title>
</head>
<body>
   <header class="group-header">
      <div class="app-icon-container">
          <img class="app-icon" src="Resources/images/my-group-icon.png" alt="">
          <span class="app-icon-label">my group</span>
      </div>

      <div class="profile-box">
          <img src="Resources/images/icons/menu.svg" id="menu" class="profile-icon" onclick="showPop('profilePop')">
      </div>
   </header>

   <div class="message-wrapper">
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group <br>
              share my group by inviting others to join
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>
      <div class="message-box">

         <div class="message-header">
            <div class="sender-info">
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
              welcome to my group 
            </p>
         </div>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>
   
      </div>

      <div class="edit-message-box">
         <img src="Resources/images/attach.png" alt="" class="send">
         <input type="text" id="editMessage"placeholder="what is in your mind">
         <img src="Resources/images/icons/send.png" alt="" class="send">
      </div>
   </div>
   <section class="profile-holder" id="profilePop" onclick="closePopWindow()">
      <iframe src="App/views/setting/my-group-profile.html" frameborder="0" id="popFrame"></iframe>
   </section>
<script>
var openedPop;
function showPop() {
   document.getElementById("profilePop").style.display = "flex";
}
function closePopWindow() {
   document.getElementById("profilePop").style.display = "none";
}
document.getElementById("popFrame").setAttribute("onclick", "closePopWindow()");

</script>

</body>
</html>