<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Group - 7">
   <base href="../../../../Ip Project Phase-2/">
   <link rel="stylesheet" href="Resources/css/base.css">
   <link rel="stylesheet" href="Resources/css/news-feed.css">
   <title>News Feed</title>
</head>
<body>
   <div class="message-wrapper">
      <div class="message-box" id="student-union">

         <div class="message-header">
            <img src="Resources/images/student-union.png" alt="" class="sender-icon">
            <div class="sender-info">
               <b>AASTU Student Union</b>
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
               ለሁሉም ተማሪዎች በሙሉ ዩኒቨርሲቲያችን አዲስ አበባ ሳይንስና ቴክኖሎጂ 
               ዩኒቨርሲቲ ለውስጥም ይሁን ለውጭ ደንበኞች የሚሰጠውን ግልጋሎት ቀልጣፋና 
               የደንበኞችን  እርካታ ለማሳደግ እንዲሁም ያሉብንን ክፍተቶች በመሙላት የተሻሉ 
               ስራዎችን ለመስራት ከምንጊዜውም የበለጠ ትኩረት ሰጥቶ እየሰራ መሆኑ ይታወቃል፡፡ 
               በመሆኑም የደንበኞችን እርካታ ለማወቅ የዳሰሳ ጥናት ፎርም የተዘጋጀ ስለሆነ ከዚህ 
               ማስተወቂያ ጋር በተያያዘው ጎግል ፎርም ላይ በመሄድ  ከታህሳስ 08-14/2014 
               ዓ.ም ድረስ ብቻ በመሙላት ለዳሳዊ ጥናቱ  ስኬት የበኩላችሁን ትብብር እንድታደርጉ 
               በአክብሮት እንጠይቃለን፡፡ የዩኒቨርሲቲው ተቋማዊ ለውጥና መልካም አስተዳደር 
               ዳይሬክቶሬት ይህንን ሊንክ በመጫን ፎርሙን ይሙሉ፡፡:
               https://forms.gle/Wny8DDXPTT6M3EPc7 
            </p>
         </div>

         <hr>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>

         
      </div>
      <div class="message-box">

         <div class="message-header">
            <img src="Resources/images/student-union.png" alt="" class="sender-icon">
            <div class="sender-info">
               <b>AASTU Student Union</b>
               <small>jan 23 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
               ለSoftware engineering እና Architecture  ለመግባት የተመዘገባችሁ አንደኛ ዓመት ተማሪዎች በሙሉ የመግቢያ ፈተናው ሀሙስ 
               በቀን 19/05/2014 በተመሳሳይ ሰዓት ስለሚሰጥ ከወዲሁ እራሳችሁን እድታዘጋጁ ስንል እናሳስባለን።
               🙏ከዚህ ሰዓት በፊት ይህ ማስታወቂያ የተለቀቀሲሆን በአንዳንድ ምክንያቶች ላልተወሰነ ጊዜ መራዘሙን እዬገለፅን የፈተናው ጊዜ እንደተወሰነ የምናሳውቃችሁ ይሆናል።
            </p>
         </div>

         <hr>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>

      </div>
      <div class="message-box">

         <div class="message-header" id="software-department">
            <img src="Resources/images/software-dept.png" alt="" class="sender-icon">
            <div class="sender-info">
               <b>software engineerig department</b>
               <small>jan 24 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
               Registration will be on google classroom on the provided link below. 
               And the deadline will be the next monday January 31 upto 4pm.
            </p>
         </div>

         <hr>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>

      </div>

      <div class="message-box">

         <div class="message-header" id="software-department">
            <img src="Resources/images/software-dept.png" alt="" class="sender-icon">
            <div class="sender-info">
               <b>software engineerig department</b>
               <small>jan 24 7:23 pm</small>
            </div>
         </div>

         <div class="message-body">
            <p>
               ለመደበኛ ተማሪዎች በሙሉ የተማሪዎች ካፌ ስትጠቀሙ መታዎቂያችሁ (non found) የሚልባችሁ ዛሬ 
               በ16/05/2014 እና ነገ 17/05/2014 ምግብ ለመመገብ ስትመጡ መታወቂያችሁን ኮፒ እያደረጋችሁ 
               እንድታመጡ። በሁለቱ ቀናት የመታዎቂያ ኮፒ ያላመጣችሁ ተማሪዎች አገልግሎት የማታገኙ መሆኑን እናሳውቃለን።
               የተማሪዎች ምግብ ቤት
            </p>
         </div>

         <hr>

         <div class="message-footer">
            <div class="reaction" onclick="dialogue.style.display='flex'">
               <img src="Resources/images/icons/comment.svg" alt="">
               <span>2</span>
            </div>
            
            <div class="reaction">
               <img src="Resources/images/icons/like.svg" alt="">
               <span>55</span>
            </div>
         </div>

      </div>
   </div>

   <!--comment section a dialogue box-->
   <section class="comment-window" id="dialogue">
      
      <div class="nav-bar">
         <img src="Resources/images/icons/left-arrow.svg" alt="" class="nav-icon"  onclick="dialogue.style.display= 'none'">
         <span>comment</span>
      </div>

      <div class="comment-wrapper">
         
         <div class="message-box">

            <div class="message-header">
               <img src="Resources/images/student-union.png" alt="" class="sender-icon">
               <div class="sender-info">
                  <b>AASTU Student Union</b>
                  <small>jan 23 7:23 pm</small>
               </div>
            </div>

            <div class="message-body">
               <p>
                  ለሁሉም ተማሪዎች በሙሉ ዩኒቨርሲቲያችን አዲስ አበባ ሳይንስና ቴክኖሎጂ 
                  ዩኒቨርሲቲ ለውስጥም ይሁን ለውጭ ደንበኞች የሚሰጠውን ግልጋሎት ቀልጣፋና 
                  የደንበኞችን  እርካታ ለማሳደግ እንዲሁም ያሉብንን ክፍተቶች በመሙላት የተሻሉ 
                  ስራዎችን ለመስራት ከምንጊዜውም የበለጠ ትኩረት ሰጥቶ እየሰራ መሆኑ ይታወቃል፡፡ 
                  በመሆኑም የደንበኞችን እርካታ ለማወቅ የዳሰሳ ጥናት ፎርም የተዘጋጀ ስለሆነ ከዚህ 
                  ማስተወቂያ ጋር በተያያዘው ጎግል ፎርም ላይ በመሄድ  ከታህሳስ 08-14/2014 
                  ዓ.ም ድረስ ብቻ በመሙላት ለዳሳዊ ጥናቱ  ስኬት የበኩላችሁን ትብብር እንድታደርጉ 
                  በአክብሮት እንጠይቃለን፡፡ የዩኒቨርሲቲው ተቋማዊ ለውጥና መልካም አስተዳደር 
                  ዳይሬክቶሬት ይህንን ሊንክ በመጫን ፎርሙን ይሙሉ፡፡:
                  https://forms.gle/Wny8DDXPTT6M3EPc7
               </p>
            </div>

         </div>

         <hr>

         <div class="comment-box">
            <div class="comment-body">
               <p>
                  good job
               </p>
            </div>

            <div class="comment-footer">
               <img src="Resources/images/icons/user.svg" alt="" class="sender-icon">
               <div class="commenter-info">
                  <b>Abel Girma</b>
                  <small>jan 23 7:23 pm</small>
               </div>
            </div>
         </div>
         
         <div class="comment-box">
            <div class="comment-body">
               <p>
                  Continue to do this.
               </p>
            </div>

            <div class="comment-footer">
               <img src="Resources/images/icons/user.svg" alt="" class="sender-icon">
               <div class="commenter-info">
                  <b>Minase Diriba</b>
                  <small>jan 23 7:23 pm</small>
               </div>
            </div>
             
         </div>
      </div>

      <div class="edit-comment-box">
         <input name="comment" type="text" id="comment"placeholder="write your comments here" autofocus>
         <img src="Resources/images/icons/send.png" alt="" class="send">
      </div>
   </section>
</body>
</html>